<div class="header__search">
    <form action="/" method="POST">
        <input type="text" name="search" placeholder="chercher pour des nouvelles articles" required>
        <input type="submit" value="chercher">
    </form>
</div>